body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: rgb(245, 26, 110);
}
.yellow {
    background-color: rgb(230, 47, 15);
}
.green {
    background-color: rgb(27, 155, 27);
}
.purple {
    background-color: rgb(138, 17, 138);
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: greenyellow;
}